/* ============================================= */


/*              Color Variables                  */


/* ============================================= */

$background-color: #58e1c1;
$border-image-color: #ccc;

/* ============================================= */


/*              colour text                   */


/* ============================================= */

$color-text: rgb(0, 0, 0);
$color-text-hover: white;

/* ============================================= */


/*              Colour buttons                  */


/* ============================================= */

$color-primary: #0337e0;
$color-default: #ac36fa;
$color-success: #30cf00;
$color-warning: #d10000;

/* ============================================= */


/*              Color grid                  */


/* ============================================= */

$color-1: #deb2ee;
$color-2: #7ee6fd;
$color-3: #88d9a0;
$color-4: #4da2bb;
$color-5: #ec9fa3;
$color-6: #fd9f85;
$color-7: #80e8d1;

/* ============================================= */


/*              Color Buttons                  */


/* ============================================= */

$btn-default: #51ddfc;
$btn-success: #63cc82;
$btn-error: #e4757a;
$btn-warning: #fd7856;
$btn-info: #927bc1;

/* ============================================= */


/*               Media Queries                   */


/* ============================================= */

$break-m: 768px;